/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


h1 {
    /*	background-color : green;*/
    vertical-align: text-bottom;
    height : 30px;
    text-shadow:3px 3px 2px #0000ff;
    /*	border-radius: 50px 	50px 50px 50px / 50px 50px 50px 50px;*/
    box-shadow: 1px 1px;
}

.table {
    width: 600px;/*テーブルの幅*/
    margin-top:20px;/*テーブルの上にスペース*/
    margin-left:10px;/*左にスペース*/
    margin-bottom:10px;/*テーブルの下にスペース*/
}

.table td, .table th{
    border-right: 1px solid #999999;/*線の色*/
    border-bottom: 1px solid #999999;/*線の色*/
}

.table {
    border-top: 1px solid #999999;/*線の色*/
    border-left: 1px solid #999999;/*線の色*/
}

.table .status {
    text-align:center;
}

.table .num {
    text-align:right;
}

.table td, .table th {
    padding:3px 12px;
}

.table tr {
//background-image:url(bk2.gif);
    background-color: lightcyan;
    border-right:solid 1px #999999;
    border-bottom:solid 1px #999999;
}

.table th {
    background-image:url(bk1.gif);
}